<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="BD" providerName="System.Data.SqlClient"
		connectionString="Server=DESKTOP-UFDC94T\SQLEXPRESS;Database=db_pizza;Uid=sa;Pwd=kakareder;" />
	</connectionStrings>
	<appSettings>
		<add key="Idioma" value="en-US"/>
	</appSettings>
</configuration>